MusteriBilgiSistemi.Desktop/Service References/LicenceService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="CheckLicence">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lp" type="tns:LicencePack" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LicencePack">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductKey" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="HddNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MacList" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckLicenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckLicenceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="RegisterLicence">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lp" type="tns:LicencePack" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterLicenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterLicenceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckLicenceSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLicence" />
  </wsdl:message>
  <wsdl:message name="CheckLicenceSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLicenceResponse" />
  </wsdl:message>
  <wsdl:message name="CheckLicenceAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="RegisterLicenceSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterLicence" />
  </wsdl:message>
  <wsdl:message name="RegisterLicenceSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterLicenceResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterLicenceAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="CheckLicence">
      <wsdl:input message="tns:CheckLicenceSoapIn" />
      <wsdl:output message="tns:CheckLicenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterLicence">
      <wsdl:input message="tns:RegisterLicenceSoapIn" />
      <wsdl:output message="tns:RegisterLicenceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLicence">
      <soap:operation soapAction="http://tempuri.org/CheckLicence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CheckLicenceAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterLicence">
      <soap:operation soapAction="http://tempuri.org/RegisterLicence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RegisterLicenceAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLicence">
      <soap12:operation soapAction="http://tempuri.org/CheckLicence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:CheckLicenceAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterLicence">
      <soap12:operation soapAction="http://tempuri.org/RegisterLicence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RegisterLicenceAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:51907/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:51907/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>